.footer {
    background-color: #212D44;
     display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 colunas iguais */
  align-items: center;
  padding: 30px 80px;
}

.info {
   display: flex;
  gap: 20px;
  justify-content: flex-start;

}

.logo {
     display: flex;
  justify-content: center;
}

.desenvolvedor{
    display: flex;
  justify-content: flex-end;
  font-size: 16px;
  color: white;
  font-family: Arial, sans-serif;
}