.Banner{
    background-color: #212D44;
    text-align: center;
}

.Banner img{
    width: 100%;
    height: auto;
}
.banner {
    background-color: #212D44;
    text-align: center;
}

.banner img {
    width: 100%;
    height: auto
}